---
layout: default
title: category
---

<p class="meta">
	{{ page.date | date: "%B %d, %Y" }}
	<a class="metaa" href="/blog/">
		<i class="fa fa-home"></i>&nbsp;<em class="metaem">返回</em>
	</a>
</p>

<h1 class="title">{{ page.title }}</h1>

<div id="related">
	{% for category in site.categories %}
	<h3>{{ category | first }}(<span>{{ category | last | size }}</span>)</h3>
	<ul class="posts">
		{% for post in category.last %}
		<li>
			<span>{{ post.date | date:"%d/%m/%Y"}}</span>
			<a href="/blog{{ post.url }}">{{ post.title }}</a>
		</li>
		{% endfor %}
	</ul>
	{% endfor %}

</div>