<nav>
  <div class="sidebar"><div id="sidebartext">coding for fun</div></div>
  <a href="/blog/">
    <img src="/blog/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/blog/">{{ site.theme.name }}</a>.</h2>
  <hr/>
  <ul>
  <p>
    <div class="sidetext"><center><p>1.01<sup>365</sup> = 37.8 <br/> 0.99<sup>365</sup> = 0.03</p></center></div>
  </p>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
  <br/>
  <hr/>
  <!-- <div id="sidebarcat">文章大纲</div> -->
<div id="content" ></div>
</nav>